/*  HTML5 ✰ Boilerplate  */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #FF5E99; }

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea {  color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }


/**
 * Primary styles
 *
 * Author: Zach Smith. Real gangsta
 */
 
body {
	background: #fff;
	font: 14px Verdana, sans-serif;
	color: #000;
}
h1, h2, h3, h4, h5, h6 {
	font-family: Georgia, "Times New Roman", serif;
	font-weight: normal;
	font-style: italic;	
}
h2 { font-size: 34px; }
h3 { font-size: 30px; }
h4 { font-size: 26px; }
h5 { font-size: 22px; }
h6 { font-size: 18px; }

#artist-name { float: left; margin-right: 10px; }
#artist-bio { margin-top: 15px; clear: both; }

.artist .subtitle { float: right; }

p { margin-bottom: 15px; }

.subtitle { font: 18px Verdana, sans-serif; color: #8c4d6b; }

a {
	color: #8c4d6b;
	outline: none;
	text-decoration: none;
}
a:hover { text-decoration: underline; }

hr.gray-bar { background: rgba(155, 155, 155, 0.5); margin: 1px 0; height: 5px; border: none; }

.icon {
	display: block;
	width: 15px;
	height: 15px;
	background-image: url(../img/sprites.png);
	background-position: 0 -149px;
	margin: 0 8px;
}

.icon.left { float: left; }
.icon.right { float: right; }

.icon.updates 	{ background-position: -21px -149px; }
.icon.tracks	{ background-position: -42px -149px; }
.icon.albums	{ background-position: -61px -149px; }
.icon.photos	{ background-position: -81px -149px; }
.icon.videos	{ background-position: -102px -149px; }
.icon.shows		{ background-position: -122px -149px; }

:hover > .icon.home,
.active > .icon.home,
.module-title > .icon.home		{ background-position: left -172px; }
:hover > .icon.updates,
.active > .icon.updates,
.module-title > .icon.updates	{ background-position: -21px -172px; }
:hover > .icon.tracks,
.active > .icon.tracks,
.module-title > .icon.tracks	{ background-position: -42px -172px; }
:hover > .icon.albums,
.active > .icon.albums,
.module-title > .icon.albumes	{ background-position: -61px -172px; }
:hover > .icon.photos,
.active > .icon.photos,
.module-title > .icon.photos	{ background-position: -81px -172px; }
:hover > .icon.videos,
.active > .icon.videos,
.module-title > .icon.videos	{ background-position: -102px -172px; }
:hover > .icon.shows,
.active > .icon.shows,
.module-title > .icon.shows		{ background-position: -122px -172px; }

.module-title .icon { margin-top: 4px; }

#main, header {
	width: 940px;
	margin: 0 auto;
}
#main { padding-bottom: 20px; }
#container {
	background: url(../img/bodyBG.jpg);
	padding-top: 20px;
}
.home #main {
	width: 660px;
	margin: 0 auto;
	margin-bottom: 100px;
}

header { margin-bottom: 20px; }
#logo {
	background: url(../img/sprites.png) no-repeat;
	width: 459px;
	height: 135px;
}
.js #logo-repeat {
	position: absolute;
	left: 0;
	top: 20px;
	background: url(../img/title_repeat.png) repeat-x;
	height: 135px;
}

.home #search-box {
	background: #9b9b9b;
	background: rgba(155,155,155, 0.5);
	padding: 10px;
	margin: 20px 0;
	
	border-bottom: #fff;
	border-top: 1px solid rgb(100,100,100);
	border-left: 1px solid rgb(150,150,150);
	border-right: 1px solid rgb(200,200,200);
	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	
	box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
	-o-box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
}
	#search-box input {
		width: 555px;
		padding: 5px;
		padding: 0;
		height: 75px;
		border: none;
		font-size: 65px;
		line-height: 75px;
		float: left;
	}
	
	#search-box button {
		background: #ccc;
		border: none;
		width: 75px;
		height: 75px;
		float: right;
	}

#page-content { 
	width: 540px;
	float: left;
	margin-right: 10px;
}
#artist-photo {
	width: 150px;
	display: block;
	float: left;
	margin-right: 10px;
}
nav#artist-nav {
	float: left;
	border-right: 1px solid #ababab;
	padding-right: 9px;
	margin-right: 10px;
	padding-top: 56px;
}
	nav#artist-nav li {
		width: 140px;
		background: #fff;
		background: rgba(255,255,255,0.5);
		margin-bottom: 5px;

		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		-o-border-radius: 8px;
		border-radius: 8px;
	}
	nav#artist-nav li:hover, nav#artist-nav li.active {
		background: #c41e68;
	}
	nav#artist-nav li:last-child { margin-bottom: 0; }
		nav#artist-nav li a {
			color: #000;
			text-align: right;
			display: block;
			padding: 5px 0;
			font-size: 12px;
		}
		nav#artist-nav li:hover a, nav#artist-nav li.active a {
			color: #fff;
		}
	
#track-player {
	width: 220px;
	margin-left: 10px;
	margin-top: 54px;
	float: right;
}
	#track-player ul { margin: 0; }
	#track-player ul li {
		background: #fff;
		background: rgba(255,255,255,0.5);
		padding: 3px 3px 3px 10px;
		list-style-position: inside;
		color: #676767;
	}
	#track-player ul li:nth-child(2n) {
		background: #eee0eb;
		background: rgba(250, 226, 237, 0.5);
	}
	#track-player ul li.active { list-style-image: url(../img/list_style_play.png); }
		#track-player ul li a { 
			color: #676767; 
			display: block;
			white-space: nowrap;
			overflow: hidden;
			padding: 3px 0;
		}
		#track-player ul li.active a {
			color: #000;
			font-weight: bold;
		}

	#track-player .sorry {
		padding: 3px;
		font-weight: bold;
		text-align: center;
		background: #eee0eb;
		background: rgba(250, 226, 237, 0.5);
	}
	

	#track-player > div {
		background: #eac1d3;
		padding: 5px;
	}
	.no-js #track-player > div { display: none; }
	#play-pause {
		background-image: url(../img/sprites.png);
		width: 50px; 
		height: 50px;
		background-position: -2px -198px;
		margin-right: 3px;
		float: left;
	}
	#play-pause.play { background-position: -52px -198px; }
	#play-pause.pause { background-position: -2px -198px; }

	#track-name {
		overflow: hidden;
		white-space: nowrap;
		-webkit-animation: marquee s infinite;
		-webkit-animation-timing-function: linear;
	}

	@-webkit-keyframes marquee {
		from { text-indent: 0; }
		to { text-indent: -100%; }
	}

	#track-player div p { margin: 0; }
	#track-album, #track-year { color: #9e667e; }

.module-title {
	font-size: 14px;
	background: url(../img/pink_grad.png) repeat-x;
	color: #fff;
	line-height: 25px;

	-webkit-border-radius: 8px 8px 0 0;
	-moz-border-radius: 8px 8px 0 0;
	-o-border-radius: 8px 8px 0 0;
	border-radius: 8px 8px 0 0;
}

footer {
	background: #fff;
	background: rgba(255,255,255, 0.9);
	padding: 20px 0;
}
footer #footer-container { width: 960px; margin: 0 auto; }












.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (max-device-width: 480px) {

  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

